.featuredCarsContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  scroll-behavior: smooth;
}
.linkContainer {
  margin-top: 1em;
  margin-bottom: 1.5em;
  display: flex;
}
.bg-salmon {
  color: aqua;
  background-color: red;
}
.type {
  margin-right: 2.5em;
  color: #6f6f6f;
  text-transform: uppercase;
}

.cardContainer {
  display: flex;
  margin-top: 2em;
  margin-right: 1em;
  width: 400px;
  transform: translateX(10px);
}
.mainContainer {
  display: flex;
  justify-content: center;
}
#bg-green {
  color: aqua;
}
#bg-green1 {
  color: aqua;
}
#bg-green2 {
  color: aqua;
}
.pre-btn,
.next-btn {
  position: absolute;
  width: 3%;
  /* height: 100%; */
  border: none;
  border-radius: 50%;
  top: 40%;
  z-index: 100;
}
.pre-btn {
  left: 0;
}
.next-btn {
  right: 0;
}
.pre-btn p,
.next-btn p {
  font-size: xx-large;
}
